Module05/flows (2) (1).json
[
    {
        "id": "9711922cdbb4beaf",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "244a14ad9268c854",
        "type": "mqtt in",
        "z": "9711922cdbb4beaf",
        "name": "",
        "topic": "sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8449f7d6977037f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "b4d16df78dc2b41d",
                "13f4215d0f169d9b"
            ]
        ]
    },
    {
        "id": "60ef7e3e72973d1e",
        "type": "mqtt in",
        "z": "9711922cdbb4beaf",
        "name": "",
        "topic": "sensor/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "57630a5cc4663948",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "869b0fa00c0fd1f0",
                "996c9b53780d1615"
            ]
        ]
    },
    {
        "id": "b4d16df78dc2b41d",
        "type": "function",
        "z": "9711922cdbb4beaf",
        "name": "function 4",
        "func": "let value = parseFloat(msg.payload);\nif (isNaN(value)) return null;\n\nmsg.payload = [\n  {\n    measurement: value,  // uus nimi\n    fields: { value: value },\n    tags: { sensor: \"node1\" }\n  }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "1f669c80ce8a8871"
            ]
        ]
    },
    {
        "id": "869b0fa00c0fd1f0",
        "type": "function",
        "z": "9711922cdbb4beaf",
        "name": "function 5",
        "func": "let value = parseFloat(msg.payload);\nif (isNaN(value)) return null;\n\nmsg.payload = [\n  {\n    measurement: value,  // uus nimi\n    fields: { value: value },\n    tags: { sensor: \"node1\" }\n  }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "c52c648816a0820c"
            ]
        ]
    },
    {
        "id": "1f669c80ce8a8871",
        "type": "influxdb out",
        "z": "9711922cdbb4beaf",
        "influxdb": "e2e5c9d468db76c1",
        "name": "andmed",
        "measurement": "temperng project for suitability in use on a boatature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "School",
        "bucket": "andmed",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "13f4215d0f169d9b",
        "type": "ui_gauge",
        "z": "9711922cdbb4beaf",
        "name": "",
        "group": "a028499a3d72cd82",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temp",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "996c9b53780d1615",
        "type": "ui_gauge",
        "z": "9711922cdbb4beaf",
        "name": "",
        "group": "a028499a3d72cd82",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "c52c648816a0820c",
        "type": "influxdb out",
        "z": "9711922cdbb4beaf",
        "influxdb": "e2e5c9d468db76c1",
        "name": "andmed",
        "measurement": "distance",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "School",
        "bucket": "andmed",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "8449f7d6977037f9",
        "type": "mqtt-broker",
        "name": "temp",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "sensor/temperature",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "57630a5cc4663948",
        "type": "mqtt-broker",
        "name": "distance",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "sensor/distance",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e2e5c9d468db76c1",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "andmed",
        "name": "andmed",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "a028499a3d72cd82",
        "type": "ui_group",
        "name": "temp",
        "tab": "487b14b2e93e4e7c",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "487b14b2e93e4e7c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]